<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EXTERNAL_API_URL" value="https://api.andbank.com.br/candidate/positions" />
    <add key="EXTERNAL_API_KEY" value="a2mpznLX6F8rD" />
  </appSettings>
  <connectionStrings>
    <add name="LOCAL" connectionString="Server=127.0.0.1;Port=5432;Database=StockOptions;User Id=postgres;Password=postgres;Pooling=true;MinPoolSize=1;MaxPoolSize=20;ConnectionLifeTime=15;" />
    <add name="DOCKER" connectionString="Server=stockdb;Port=5432;Database=StockOptions;User Id=postgres;Password=postgres;Pooling=true;MinPoolSize=1;MaxPoolSize=20;ConnectionLifeTime=15;" />
  </connectionStrings>
</configuration>